
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white: rgb(255, 255, 255);
    --grey:rgb(198, 198, 198);
    --black: #000000;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 3rem;
    font-size: 120%;
    line-height: 1.6rem;
}

body{
    font-family: "Work Sans", sans-serif;    
    background-color:var(--red);  

/* page margin for desktop */
     @media (width > 980px) {
        padding-inline: var(--spacing-s);
     }

/* main content spacing & grid */
    .content:not(#ini){
                 padding-block-end: var(--spacing-l); 

                 /* thank you google */
                 p:not(blockquote p){
                      margin-block-end: var(--spacing-m);
                 }   
             } 
    .content, hgroup{
     
                 display: grid;
                 padding-inline: 5vw;       
     
                 h1, h2, p, section{
                         grid-column: 1/ span 6;
                     }
                 blockquote, aside {
                         grid-column: 2/ span 5;
                     }
     
                 .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 8;
                     }
     
                 p, time, h1, h4{
         
                     max-width: 80ch; 
                 }

                 #starter{
                     max-width: 35ch; 
                 }


    
     
/* desktop grid*/
    @media (width > 980px) {
                     display: grid;
                     grid-template-columns: repeat(12, 1fr);
     
                     h1, .originalarticle, p, section{
                         grid-column: 3/ span 8;
                     }
     
                     aside{
                         grid-column: 2/ span 5;
                     }
                     blockquote, .examples {
                        grid-column: 6/ span 6;
                     }
     
     
                     .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 8;
                     }
     
                      #ini{
                         grid-column: 3/ span 4;
                        
                     }   
                 }
                 
             }
    


article {
  
    padding-block-start: var(--spacing-s);
    
    /* article title style */

        
        h1 {
            span{
                color: var(--black);
            }
            color: var(--grey);
            font-weight: 900;
            margin-block-end: 0.4em;
            font-size: var(--font-l); 
            line-height: 1.1em;   

        }
        
        hgroup{

            margin-block-end: var(--spacing-m);
            #authorname{   
                margin-block-end: var(--spacing-s);
                /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
                font-size: var(--font-m);
            }

            section, a{
                font-size: calc(var(--font-s)*0.8);
                line-height: 1.3em;   
                margin-block-end: 1em;
            }

        }

    /* section title style  */
        section > h2 {
              font-size: var(--font-m);
              line-height: 1.3em;
              position: sticky;
              inset-block-start: 9vh;
              padding: calc(var(--spacing-s)/2) ;
              margin-block-end: var(--spacing-m);
              color: var(--black);
      
          }

    /* intro quote */
        #ini{
            margin-block-end: var(--spacing-m);
            margin-block-start: var(--spacing-s);
        }

        #starter {
            padding-block-end: var(--spacing-s);
            font-size: calc(var(--font-l)*0.6);
            line-height: 1.1em;            
            font-variation-settings:
                    "BLED"  0,
                    "SCAN" 100;
        }


        blockquote{
            background-color: var(--black);
            color: var(--red);
            /* padding-block: var(--spacing-s); */
            margin-block-end: var(--spacing-m);

            font-size: calc(var(--font-s)*0.7);
            line-height: 1.3em;   

            h4, #quote, p,time{

                padding-inline: var(--spacing-m);
            }

            h4, #quote{
                 margin-block-end: var(--spacing-s);
            }

            h4{
                font-size: var(--font-s);   
            }

            #quote{
                font-size:calc(var(--font-s)*1.2) ;
                line-height: 1.8rem; 
            }


        }
/* codepen example: https://codepen.io/Rybak/pen/eerXag */
        blockquote:before, blockquote:after {
            content: '';
            display: block;
            position: relative;
            background-color: var(--black);
            width: 1rem;
            height: 1rem;
             /* box-shadow: 40vw 0 0 0 var(--black); */
            }
        blockquote:before {
            left: -1rem;
            top: -1rem;
            }
        blockquote:after {
            right: 1rem;
            top: 1rem;
            }

        #extrainfo{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
            background-color: var(--black);
            color: var(--red);
        }

   

 /* citations */
        aside {
            font-size: calc(var(--font-s)*0.8);
            line-height: 1.3em; 
        }

    }

    em{
        font-weight: 700;
    }

    sup{
        font-size: calc(var(--font-s)*0.8);
        font-weight: 700;
        background-color: var(--black);
        color: var(--red);
        vertical-align: super;
        padding-inline: 0.3em;

    }

}
