
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white: rgb(255, 255, 255);
    --grey:rgb(232, 232, 232);
    --black: #000000;
    --highlight: rgb(136, 136, 136);
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 2.6rem;
    font-size: 120%;
    line-height: 1.6rem;
}

body{
    
    nav{
       position: fixed;
       top: 90%;
       right: 0;
       background-color:var(--white);
    }

    font-family: "Work Sans", sans-serif;    
    background-color:var(--red);  



/* main content spacing & grid */
    .content:not(#ini){
                 padding-block-end: var(--spacing-l); 

                 /* thank you google */
                 p:not(blockquote p){
                      margin-block-end: var(--spacing-m);
                 }   
             } 
    .content, hgroup{
     
                 display: grid;
                 padding-inline: 5vw;       
     
                 h1, h2, p, section{
                         grid-column: 1/ span 4;
                     }
                 blockquote, aside {
                         grid-column: 2/ span 3;
                     }
                
             
     
                 .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 4;
                     }
     
                 p, time, h1, h4{
         
                     max-width: 80ch; 
                 }

                 #starter{
                     max-width: 35ch; 
                 }


    
     
/* desktop grid*/
    @media (width > 980px) {
                     display: grid;
                     grid-template-columns: repeat(12, 1fr);
     
                    h1, h2, p, section{
                         grid-column: 3/ span 6;
                     }
     
                    aside{
                         grid-column: 8/ span 4;
                     }
                    blockquote, .examples {
                        grid-column: 5/ span 6;
                     }

                    #ini{
                         grid-column: 3/ span 4;
                        
                     }   
                 }
                 
             }
    


article {
  
    
    /* article title style */

        
    hgroup{
        background-color: var(--black);
        padding-block: var(--spacing-m);
        color: var(--white);
        margin-block-end: var(--spacing-m);
        h1 {
            span{
                color: var(--white);
            }
            color: var(--highlight);
            font-weight: 900;
            margin-block-end: 0.4em;
            font-size: var(--font-l); 
            line-height: 1.1em;   

        }

            
        section{
                #authorname{   
                    margin-block: var(--spacing-s);
                    font-size: var(--font-m);
                }
                font-size: calc(var(--font-s)*0.8);
                line-height: 1.3em;   
                margin-block-end: 1em;
                color: var(--white);
            }

        }

    /* section title style  */
        section > h2 {
            background-color: var(--white);
            font-size: var(--font-m);
            line-height: 1.3em;
            position: sticky;
            inset-block-start: 0vh;
            margin-block-end: var(--spacing-m);
            padding-block: var(--spacing-s);
            color: var(--black);
      
          }

    /* intro quote */
        #ini{
            margin-block-end: var(--spacing-m);
            margin-block-start: var(--spacing-s);
        }

        #starter {
            padding-block-end: var(--spacing-s);
            font-size: calc(var(--font-l)*0.6);
            line-height: 1.2em;  
            color: var(--highlight) ;  
            font-weight: 600;       
        }


        blockquote{
            /* padding-block: var(--spacing-s); */
            padding-block: var(--spacing-s);
            margin-block-end: var(--spacing-s);
            background-color: var(--grey);


            h4, #quote, p,time{

                padding-inline: var(--spacing-s);
            }

            h4, #quote{
                 margin-block-end: var(--spacing-s);
            }



        }


   

 /* citations */
        aside {
            font-size: calc(var(--font-s)*0.8);
            line-height: 1.3em; 
        }

    }

    em{
        color: var(--highlight);
    }

    sup{
        font-size: calc(var(--font-s)*0.8);
        font-weight: 700;
        background-color: var(--highlight);
        color: var(--white);
        vertical-align: super;
        padding-inline: 0.3em;

    }

}
