/* wide: sixtyfour*/
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
/* narrow: workbench*/
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


:root{
     --red: red;
    --black: #000000;
    --white: #f8f2f2;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 4rem;

    font-size: 120%;
    line-height: 1.6rem;
}


body{
    background-color: var(--red);
    /* padding: var(--spacing-s); */
    /* background-color: var(--bg-color); */

    nav{
        padding-inline: var(--spacing-m);
        font-family: Arial, Helvetica, sans-serif;
        position: sticky;
        inset-block-start: 0;
        background-color: black;
        height: 5vh;
        z-index: 999;
        display: flex;
        align-items: center;
        
        ol{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: var(--spacing-s);
            color: white;
            justify-content: left;
            align-items: center;
            /* text-align: center; */


            li {
                padding-inline: 0.6rem;
            }
            
            li:hover{
                color:grey;
                background-color: transparent;
            }

        }
    }


    footer{
        color: var(--red);
        background-color: black;
        *{
            padding-inline: var(--spacing-s);
        }
    }
   
}




