:root{
    --bg-color: red;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 3rem;
}


body{
    /* padding: var(--spacing-s); */
    /* background-color: var(--bg-color); */

    nav, footer {
        position: sticky;
        inset-block-start: 0;
        background-color: black;
        height: 10vh;
        z-index: 999;
        ol{
            padding-block: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--spacing-s);
            color: rgb(0, 0, 0);
            justify-content: center;
            align-items: center;


            li {
                background-color: var(--bg-color);
                padding-inline: var(--spacing-s);
                padding-block: 0.2rem;
            }
            
            li:hover{
                color:var(--bg-color);
                background-color: transparent;
            }

        }
    }


    footer{
        *{
            padding-inline: var(--spacing-s);
        }
    }
   
}