@import url('https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@0..100,-53..100&family=Workbench:BLED,SCAN@0..100,-53..100&display=swap');


:root{
     --red: red;
    --black: #000000;
    --white: #f8f2f2;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 3rem;
    --page-padding:5vw;
    line-height: 1.4rem;
    font-size: 120%;
}

/* page nav style */

nav {
        position: sticky;
        inset-block-start: 0;
        background-color: var(--black);
        color: var(--red);
        padding-inline: var(--page-padding);
        padding-block: calc(var(--spacing-s)/2);
        z-index: 999;
        border-bottom: solid var(--red) 0.02rem;
            
        p{
            font-family: "Sixtyfour", sans-serif;
            font-size:var(--font-s);
            }
}


body{
    overflow-x: hidden;
    background-color: var(--red);
    font-family: 'Arial Narrow', sans-serif; 
    p{
        max-width: 80ch;
    } 

/* desktop grid*/

    @media (width > 980px) {
        
            display: grid;
            grid-template-columns: repeat(12, 1fr);
                  
                hgroup{
                    grid-column: 3/ span 10;
                }
                .readinglist{
                    grid-column: 1/ span 12;
                }

                .readinglist, hgroup{
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);

                    *{
                        grid-column: 3/ span 12;
                    }
                    
                    }
     
                section, footer{
                        grid-column: 3/ span 6;
                }
                   
     
                 aside{
                         grid-column: 2/ span 5;
                     }
                    blockquote, .examples {
                        grid-column: 6/ span 6;
                     }
     
     
                    .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 8;
                     }
     
                    #ini{
                         grid-column: 3/ span 4;
                        
                     }   
                 }
                 
             }
    
/* squares on the margin */
    canvas {
                width: var(--page-padding);
                height: 3vh;
                flex-shrink: 0;
                background-color: var(--black);
                position: fixed;

            }

    #square1{
                top: 10vh;
                left: 0;
            }

    #square2{
                top: 10vh;
                right: 0;
            }

    #square3{
                bottom: 0;
                left: 0;
            }

    #square4{
                bottom: 0;
                right: 0;
            }


    #square5{
                top: 30vh;
                left: 0;
            }

    #square6{
                top: 30vh;
                right: 0;
            }

    #square7{
                bottom: 30vh;
                left: 0;
            }

    #square8{
                bottom: 30vh;
                right: 0;
            }
/* squares on the margin */
    
/* paragraph block spacing */
    .content:not(#intro){
                 padding-block-end: var(--spacing-m); 
            /* thank you google */
                 p:not(blockquote p){
                      margin-block-end: var(--spacing-m);
                 }   
             } 
/* page grid */
    .content{
     
                 display: grid;
                 padding-inline: var(--page-padding);

                 h1, h2, p, section{
                         grid-column: 1/ span 6;
                     }

                h1{
                    grid-column: 3/ span 6;
                }
                      
                    
     
                 blockquote, aside {
                         grid-column: 1/ span 6;
                     }
     
                 .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 8;
                     }
     
                 p, time, h1, h4{
         
                     max-width: 80ch; 
                 }

                 #starter{
                     max-width: 35ch; 
                 }
                 
    }



    h1{
        color: var(--black);
    }
/* homepage title style */
    .homehgroup {
        font-family: "Sixtyfour", sans-serif;
        padding-inline: var(--page-padding);
        h1{
            font-size: clamp(1rem, 11vw, 6rem);
            /* youtube: https://www.youtube.com/watch?v=G1buM51f09s */
            line-height: 140%;
            margin-block-start: 8vh;
            margin-block-end: 4vh;
        }


        #type {
            position: relative;
            top:0;
            animation-name: headline;
            animation-timing-function: linear;
            animation-duration: 30s;
            animation-iteration-count: infinite;
        }

        #darkroom {
            font-variation-settings:
                "BLED"  0,
                "SCAN" -43;
            position: absolute;
            top:0;
        }

    }
/* single page title style */
    .pagehgroup{
        margin-block: var(--spacing-s);
        inset-block-start: 3.3rem;
        padding-inline: var(--page-padding);
        h1 {
            font-family: "Workbench", sans-serif;
            border-block-end: solid var(--black);
            border-width: 1rem;
            margin-block: var(--spacing-s);

            font-size: var(--font-l); 
            font-optical-sizing: auto;
            line-height: 1.1em;   
        }
        #authorname{   
                margin-block-end: var(--spacing-s);
                font-size: var(--font-m);
            }
        section{
            line-height: 1.3em;   
            margin-block-end: 1em;
            }
    }

/* section title style  */
    .headings {

            font-family: "Workbench", sans-serif;   
            font-variation-settings:
                "BLED"  -50,
                "SCAN" 10;
            font-size: var(--font-s);
            line-height: 1.3em;
              
              padding: calc(var(--spacing-s)/2);
              padding-inline: var(--page-padding);
              margin-block-end: var(--spacing-m);
              background-color: var(--black);
              color: var(--red);
      
          }

    h2.headings {
        position: sticky;
        inset-block-start: 2.3rem;
    }

    #intro_description {
        padding-block-start: var(--spacing-m);
    }     
        
    .readinglist{
            padding-block: var(--spacing-l);
            padding-inline: var(--page-padding);
            color: var(--red);
            background-color: black;

            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-s);
            justify-content: left;

            li {
                font-family: "workbench", sans-serif;
                 font-variation-settings:
                "BLED"  0,
                "SCAN" 0;
                font-size: 3rem;
                line-height: 3rem;

            }
            
            li:hover{
                font-variation-settings:
                "BLED"  20,
                "SCAN" -50;
            }



/* blockquote */
blockquote, #panamaupdates{
            background-color: var(--black);
            color: var(--red);

            margin-block-end: var(--spacing-m);

            /* font-size: calc(var(--font-s)*0.7); */
            line-height: 1.3em;   

            h4, #quote, p,time{

                padding-inline: var(--spacing-s);
            }

            h4, #quote{
                margin-block-end: var(--spacing-s);
                font-size: var(--font-s);   
            }
            h4{
                font-family: "Workbench", sans-serif;
            }

            #quote{
                line-height: 1.4em; 
            }


        }
    blockquote:before, blockquote:after {
            content: '';
            display: block;
            position: relative;
            background-color: var(--black);
            width: 1rem;
            height: 1rem;
             /* box-shadow: 40vw 0 0 0 var(--black); */
            }
        blockquote:before {
            left: -1rem;
            top: -1rem;
            }
        blockquote:after {
            right: 1rem;
            top: 1rem;
            }

    }
    
    
    blockquote, #panamaupdates{
            background-color: var(--black);
            color: var(--red);

            margin-block-end: var(--spacing-m);

            /* font-size: calc(var(--font-s)*0.7); */
            line-height: 1.3em;   

            h4, #quote, p,time{

                padding-inline: var(--spacing-s);
            }

            h4, #quote{
                margin-block-end: var(--spacing-s);
                font-size: var(--font-s);   
            }
            h4{
                font-family: "Workbench", sans-serif;
            }

            #quote{
                line-height: 1.4em; 
            }
    }
/* codepen example: https://codepen.io/Rybak/pen/eerXag */
    #intro_description:before, #intro_description:after, blockquote:before, blockquote:after {
            content: '';
            display: block;
            position: relative;
            background-color: var(--black);
            width: 1rem;
            height: 1rem;
             /* box-shadow: 40vw 0 0 0 var(--black); */
            }
    #intro_description:before, blockquote:before {
            left: -1rem;
            top: -1rem;
            }
    #intro_description:after, blockquote:after {
            right: 1rem;
            top: 1rem;
            }

    footer{
        margin-block: var(--spacing-m);
        padding-inline: var(--page-padding);
        hgroup {
            padding: 0;

            font-family: "Sixtyfour", sans-serif;
            display: flex;
            flex-direction: row;
            column-gap: var(--spacing-s);
        }
       
    }
   




@keyframes headline {

        0% {
            top:clamp(-10rem, -5vh, -2rem);
            font-variation-settings:
                "BLED"  50,
                "SCAN" -53;
        }

        50% {
            top:clamp(1rem, 5vh, 4rem);
            font-variation-settings:
                "BLED"  50,
                "SCAN" 70;
        }

        100% {
            top:clamp(-10rem, -5vh, -2rem);
            font-variation-settings:
                "BLED"  50,
                "SCAN" -53;
        }
        
    }




