:root{
    --bg-color: red;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 3rem;
}


body{
    padding: 3rem;
    /* background-color: var(--bg-color); */

    nav {
        position: sticky;
        inset-block-start: 0;

        ol{
            padding-block: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--spacing-s);
            color: red;


            li {
                background-color: black;
                padding-inline: var(--spacing-s);
                padding-block: 0.2rem;
            }
            
            li:hover{
                color: black;
                background-color: transparent;
            }

        }
        margin-block-end: var(--spacing-m);
    }



   
}