:root{
    --bg-color: rgb(255, 255, 255);
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 3rem;
}


body{
    /* padding: var(--spacing-s); */
    /* background-color: var(--bg-color); */

    nav, footer {
        padding-inline: var(--spacing-m);
        font-family: Arial, Helvetica, sans-serif;
        position: sticky;
        inset-block-start: 0;
        background-color: black;
        height: 5vh;
        z-index: 999;
        display: flex;
        align-items: center;
        
        ol{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: var(--spacing-s);
            color: white;
            justify-content: left;
            align-items: center;
            /* text-align: center; */


            li {
                /* background-color: var(--bg-color); */
                padding-inline: 0.6rem;
                /* padding-block: 0.14rem; */
            }
            
            li:hover{
                color:grey;
                background-color: transparent;
            }

        }
    }


    footer{
        *{
            padding-inline: var(--spacing-s);
        }
    }
   
}