/* big hero */
.homehgroup {

        --block--start:  -0.2em;  /* Font/line-height-dependent! */
	    --block--end:    -0.23em; /* Just adjust until you get it. */
	    --inline--start: -0.09em;
	    --inline--end:   -0.06em;

        font-family: "Sixtyfour", sans-serif;
        h1{
            font-size: clamp(1rem, 11vw, 5rem);
            /* youtube: https://www.youtube.com/watch?v=G1buM51f09s */
            line-height: 140%;
            margin-block: 8vh;
            padding-inline: var(--page-padding);
            display: flow-root; /* Cinches the `block-size`. */
	        inline-size: fit-content; /* Cinches the `inline-size`. */
	        margin-inline-end: var(--inline--end);
	        margin-inline-start: var(--inline--start);
            
            text-shadow:
            -0.1rem 0.1rem 0.4rem rgb(255, 13, 13),
            -0.1rem 0.1rem 0.4rem rgb(255, 35, 35);

        }


        #type {
            
            position: relative;
            animation-name: headline;
            animation-timing-function: linear;
            animation-duration: 38s;
            animation-iteration-count: infinite;
            margin-inline: auto;
            z-index: -1;
        }

        #darkroom {
           
            font-variation-settings:
                "BLED"  -100,
                "SCAN" -43;
            position: absolute;
            top:0;
        }

    }


    @media (width > 780px) {
            .homehgroup{
                h1{
                    padding-inline: 0;
                }
            }


     }
/* grid */
.readinglist{      
       
        @media (width > 780px) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            *{
                grid-column: 2/ span 9;
            }
            summary{
                grid-column: 2/ span 7;
            }
        }
        @media (width > 1200px) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            *{
                grid-column: 3/ span 9;
            }
            summary{
                grid-column: 3/ span 7;
            }
        }
    }

/* TOC */        
.readinglist{
            padding-block: var(--spacing-m);
            margin-block-start: var(--spacing-m);
            color: var(--accent-color);
            background-color: var(--bg-color);
            li:last-child{
                padding-block-end: 0;
            }
            summary, li{
                padding-block-end: var(--spacing-s);
            }
            summary {
                text-transform: uppercase;
                margin-block-end: 0.4rem;
                max-width: 75ch;
            }
            li {
                font-family: "workbench", sans-serif;
                font-size: 2.4rem;
                line-height: 2.4rem;

                a{
                    align-items: center;
                }
            }
            

            li:nth-child(2){
                 font-variation-settings:
                "SCAN" -53;
                svg {
                   stroke-width: 0.06rem;
                }

            }
            li:nth-child(3){
                 font-variation-settings:
                "SCAN" -20;

                svg {
                    stroke-width: 0.2rem;
                }
            }

            li:nth-child(4){
                 font-variation-settings:
                "SCAN" 10;

                svg {
                    stroke-width: 0.3rem;
                }
            }
            
            li:hover{
                font-variation-settings:
                "BLED"  0,
                "SCAN" -40;

                svg {
                   stroke-width: 0.08rem;
                }
            }



    }

/* intro paragraph on homepage */
/* #intro_description {
        padding-block-start: var(--spacing-s); 
    }   */

#darkroom:before, #darkroom:after, .intro_description:before, .intro_description:after{
            content: '';
            display: block;
            position: relative;
            background-color: var(--bg-color);
            width: var(--page-padding);
            max-width: var(--spacing-m);

            }
#darkroom:before, .intro_description:before{
            left: calc(-1*var(--page-padding));
            top: -0.5rem;
            }
#darkroom:after, .intro_description:after{
            right: calc(var(--page-padding));
            top: 0.5rem;
            }


#darkroom:before, #darkroom:after{
            height: 4vh;
            }
#intro_description_1:before, #intro_description_1:after{
            height: 3vh;
            background-color: var(--accent-color);
            }
#intro_description_2:before, #intro_description_2:after{
            height: 2vh;
            }
#intro_description_3:before, #intro_description_3:after{
            height: 1vh;
            }

#darkroom:before{
    left: calc(-1*var(--page-padding) + 0.09em);   
}
#darkroom:after{
    right: calc(var(--page-padding) - 0.09em);
}

p.intro_description{
    margin-block: var(--spacing-m);
    padding-inline: var(--page-padding);

    @media (width > 780px) {
        padding-inline: 0;
     }
}





/* animation on homepage */

@keyframes headline {

        0% {
            filter: blur(0.04rem);
            top:clamp(-10rem, -5vh, -2rem);
            font-variation-settings:
                "BLED"  50,
                "SCAN" -53;
        }

        50% {
            filter: blur(0rem);
            top:clamp(1rem, 5vh, 5rem);
            font-variation-settings:
                "BLED"  50,
                "SCAN" 70;
        }

        100% {
            top:clamp(-10rem, -5vh, -2rem);
            filter: blur(0.04rem);
            font-variation-settings:
                "BLED"  50,
                "SCAN" -53;
        }
        
    }

