/* wide: sixtyfour*/
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');

/* narrow: workbench*/
@import url('https://fonts.googleapis.com/css2?family=Workbench:BLED@6&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
    font-family: 'Panama';
	src: url('PanamaProportionalRegular.otf') format('opentype');
}

:root{
    --red: red;
    --black: #000000;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 3rem;
    font-size: 110%;
    line-height: 1.6rem;
}

body{
    font-family: "Panama", sans-serif;     
    background-color:var(--red);  

    h1, h2{
        font-family: "Workbench", sans-serif;   
        font-variation-settings:
            "BLED"  23,
            "SCAN" 100;
    }
    
    h1 {
        font-size: var(--font-l); 
        font-optical-sizing: auto;
        line-height: 1.4em;   
        font-variation-settings:
            "BLED"  0,
            "SCAN" 100;
    }


    .shadow{
        font-family: "Sixtyfour", sans-serif;
        font-variation-settings:
            "BLED"  100,
            "SCAN" -50;
        font-size:calc(var(--font-m)*1.2) ;
        letter-spacing: -0.3em;
        position: relative;
        left: -0.4em;
        animation-name: headingshadow;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

    }

    
    h2 {
        font-size: var(--font-m);
        line-height: 1.3em;
        position: sticky;
        inset-block-start: 10vh;
        padding: var(--spacing-s);
        margin-block-end: var(--spacing-m);
        background-color: var(--black);
        color: var(--red);

    }
    
    
    article {
 
        border-left: solid var(--black);
        border-right: solid var(--black);

        padding-block-start: var(--spacing-l);


        section:not(:first-child) {
            padding-block-start: var(--spacing-l);
            
            }

            
        section{
            
            
            p{
                margin-block-end: var(--spacing-m);    
                max-width: 80ch;         
                }

        /* desktop grid*/
            @media (width > 980px) {
                display: grid;
                grid-template-columns: repeat(12, 1fr);

            
                h2{
                    grid-column: 1/ span 12;
                }

                p, section, hgroup{
                    grid-column: 3/ span 8;
                }
                blockquote, aside{
                    grid-column: 7/ span 5;
                }

            }
        }


        hgroup {

            .authornametime{

                * {
                    grid-column: 3/ span 6;
                    margin-block-end: 0;
                }
            }

            a {
                grid-column: 3/ span 6;
            }
        }

/* blockquotes */

        #ini{


            #starter {
                font-size: var(--font-l);
                line-height: 1.2em;
                font-family: "Workbench", sans-serif;   
                font-variation-settings:
                "BLED"  0,
                "SCAN" 100;
            }

           p{
             grid-column: 3/ span 6;
           } 
        }
  

    }

}

@keyframes headingshadow {
        0%{
            top: -4.2rem;
        }
        50%{
            top: -4rem;
        }
        100%{
            top: -4.2rem;
        }
    }

/* 
menu on top
.sidebar {
    top: var(--spacing-l);
    line-height: 2rem;


    section {
        padding-inline: 1.5rem;
        padding-block: 1.3rem;
        border-radius: 0.4rem;

        summary {
                border-bottom: dotted;
                border-color: black;
                font-weight:700;
                padding-block-end: 0.5rem;
                margin-block-end: 1.5rem;
            }
            p {
                text-indent: 1rem;
            }

            p:first-child {
                padding-block-start:var(--spacing-s);
                }

        details:first-child {
            margin-block-end: var(--spacing-s);
        }
       
    }

    
}
 */

