/* wide: sixtyfour*/
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');

/* narrow: workbench*/
@import url('https://fonts.googleapis.com/css2?family=Workbench:BLED@6&display=swap');

@font-face {
    font-family: 'Panama';
	src: url('PanamaProportionalRegular.otf') format('opentype');
}



body{
    font-family: "Panama", sans-serif;     
    background-color: #F00404;  

    section:not(:first-child) {
        padding-block-start: 5rem;
        
            .examples{
                padding-block-start: 3rem;
            }
        }


    section p:not(:first-child){
            margin-block-start: 3rem;             
        }
    h1, h2{
        font-family: "Workbench", sans-serif;   
    }

    h1 {
        font-size: 4rem;    
    }

    h2 {
        font-size: 2.5rem;
        position: sticky;
        inset-block-start: 0;
    }
    

    article {
        display: grid;
    }

}



