/* wide: sixtyfour*/
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench&display=swap');

/* narrow: workbench*/
@import url('https://fonts.googleapis.com/css2?family=Workbench:BLED@6&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
    font-family: 'Panama';
	src: url('PanamaProportionalRegular.otf') format('opentype');
}

:root{
    --red: red;
    --black: #000000;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.8rem;
    --font-l: 4rem;
    font-size: 120%;
    line-height: 1.6rem;
}

body{

     @media (width > 980px) {
        padding-inline: var(--spacing-s);
     }


    canvas {
                width: 1rem;
                height: 1rem;
                flex-shrink: 0;
                background-color: var(--black);
                position: fixed;

            }

    #square1{
                top: 10vh;
                left: 0;
            }

    #square2{
                top: 10vh;
                right: 0;
            }

    #square3{
                bottom: 0;
                left: 0;
            }

    #square4{
                bottom: 0;
                right: 0;
            }


    #square5{
                top: 30vh;
                left: 0;
            }

    #square6{
                top: 30vh;
                right: 0;
            }

    #square7{
                bottom: 30vh;
                left: 0;
            }

    #square8{
                bottom: 30vh;
                right: 0;
            }

    font-family: "Panama", sans-serif;     
    background-color:var(--red);  

    h1, h2{
        font-family: "Workbench", sans-serif;   
        font-variation-settings:
            "BLED"  23,
            "SCAN" 100;
    }
    
    h1 {
        font-size: var(--font-l); 
        font-optical-sizing: auto;
        line-height: 1.4em;   
        font-variation-settings:
            "BLED"  0,
            "SCAN" 100;
    }


    .shadow{
        font-family: "Sixtyfour", sans-serif;
        font-variation-settings:
            "BLED"  100,
            "SCAN" -50;
        font-size:calc(var(--font-m)*1.2) ;
        letter-spacing: -0.3em;
        position: relative;
        left: -0.4em;
        animation-name: headingshadow;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

    }

    
    section > h2 {
        font-size: var(--font-m);
        line-height: 1.3em;
        position: sticky;
        inset-block-start: 9vh;
        padding: var(--spacing-s);
        margin-block-end: var(--spacing-m);
        background-color: var(--black);
        color: var(--red);

    }
    
    
    article {
        /* border-left: solid var(--black);
        border-right: solid var(--black); */

        padding-block-start: var(--spacing-s);

        .content {
            padding-block-end: var(--spacing-l); 
            p{
                 margin-block-end: var(--spacing-m);
            }   
        }
            
        .content, hgroup{

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding-inline: 5vw;       


            h1, h2, p, section{
                    grid-column: 1/ span 6;
                }
            blockquote, aside{
                    grid-column: 2/ span 5;
                }


            .authornametime{

                    p{
                        margin-block-end: 0;
                    }
                    
                    display: block;
                    grid-column: 2/ span 8;
                }

            #ini{
                    p{
                        grid-column: 3/ span 6;
                    } 
            }   


            p, time, h1, h4{
    
                max-width: 80ch; 
            }


            h1 {
                margin-block-end:0;
            }

        /* desktop grid*/
            @media (width > 980px) {
                display: grid;
                grid-template-columns: repeat(12, 1fr);

                h1, .originalarticle, p, section{
                    grid-column: 3/ span 8;
                }

                aside{
                    grid-column: 2/ span 5;
                }
                blockquote, .examples{
                    grid-column: 6/ span 6;
                }


                .authornametime{

                    p{
                        margin-block-end: 0;
                    }
                    
                    display: block;
                    grid-column: 2/ span 8;
                }

                 #ini{
                    p{
                        grid-column: 3/ span 6;
                    } 
                }   
            }
            
        }

        blockquote, #starter {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
        }

        aside {
            font-size: 0.8rem;
        }

        hgroup{



            a {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
                grid-column: 1/4;
            }
        }
        #starter {
                    font-size: var(--font-m);
                    line-height: 1.2em;
                
                    font-variation-settings:
                    "BLED"  0,
                    "SCAN" 100;
                }


    }

}

@keyframes headingshadow {
        0%{
            top: -4.2rem;
        }
        50%{
            top: -4rem;
        }
        100%{
            top: -4.2rem;
        }
    }

/* 
menu on top
.sidebar {
    top: var(--spacing-l);
    line-height: 2rem;


    section {
        padding-inline: 1.5rem;
        padding-block: 1.3rem;
        border-radius: 0.4rem;

        summary {
                border-bottom: dotted;
                border-color: black;
                font-weight:700;
                padding-block-end: 0.5rem;
                margin-block-end: 1.5rem;
            }
            p {
                text-indent: 1rem;
            }

            p:first-child {
                padding-block-start:var(--spacing-s);
                }

        details:first-child {
            margin-block-end: var(--spacing-s);
        }
       
    }

    
}
 */

