

:root{
    --bg:  rgb(241, 241, 241);
    --xlight-grey: #e4e7f1;
    --light-grey: #CDD5EF;
    --mid-grey: #B5C4F8;
    --dark-grey: rgb(108, 108, 108);
    --black: #000000;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 4rem;
    font-size: 120%;
    line-height: 1.6rem;
}


body{


    nav{
        background-color: rgb(231, 231, 231);
        border-block-end: solid rgb(203, 203, 203);
        border-width: 0.02rem;
        height: 5vh;
        z-index: 999;

        ol{
            display: flex;
            color: rgb(0, 0, 0);
            justify-content: left;
            align-items: center;
            padding: 0;

        }
         li {
                background-color: gray;
                padding: 0;
            }
    }


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
    background-color: rgb(241, 241, 241);

/* page margin for desktop */
     @media (width > 1100px) {
        margin-inline: var(--spacing-m);
     }

/* main content spacing & grid */
    .content:not(#ini, hgroup){
                 padding-block-end: var(--spacing-l); 

                 /* thank you google */
                 p:not(blockquote p){
                      margin-block-end: var(--spacing-m);
                 }   
             } 
    .content{
     
                display: grid;
                padding-inline: var(--spacing-s);
  
     
                 h1, h2, p, section{
                         grid-column: 1/ span 6;
                     }
                 blockquote, aside {
                         grid-column: 2/ span 5;
                     }
     
            

                 #starter{
                     max-width: 35ch; 
                 }


    
     
/* desktop grid*/
    @media (width > 980px) {
                     display: grid;
                     grid-template-columns: repeat(12, 1fr);

                  
     
                     .originalarticle, h1, p, section{
                         grid-column: 5/ span 6;
                     }
                     .title{
                        grid-column: 2/ span 9;
                     }

                     h2{
                        grid-column: 2/ span 3;
                     }

                     aside, blockquote, .examples {
                        grid-column: 6/ span 6;
                     }
     
     
                    
     
                      #ini{
                         grid-column: 3/ span 4;
                        
                     }   
                 }
                 
             }
    


/* main content spacing & grid */
  



article {

    
    /* article title style */

    .ui{
            border-radius: 0.3rem;
            color: rgb(149, 149, 149);
            font-weight: 700;
            background-color: var(--light-grey);
            font-size: calc(var(--font-s)*0.8);
            padding-inline-start: 0.8rem;
        }
    .title{
        background-color: rgb(238, 238, 238);
        border-block-end: solid rgb(203, 203, 203);
        border-width: 0.02rem;
        margin-block-end: var(--spacing-m);
        margin-block-start: var(--spacing-s);

        h1, p:not(.ui) {
            margin-block: 0.1rem;
            font-size: var(--font-s); 
        }
        

        *{
            padding-inline-start: 0.8rem;
        }
         

        }

    /* section title style  */
        section > h2 {
             border-block-end: solid rgb(203, 203, 203);
                border-width: 0.02rem;
                background-color: var(--bg);
              font-size: var(--font-s);
              line-height: 1.3em;
              position: sticky;
              inset-block-start: 5vh;
              margin-block-end: var(--spacing-s);
              color: var(--dark-grey);
      
          }

    /* intro quote */
        #ini{
            margin-inline-start: var(--spacing-m);
            margin-block-end: var(--spacing-l);
            margin-block-start: var(--spacing-s);

            .ui{
              background-color: var(--xlight-grey);
          } 
            
            p,time{  
                padding-inline-start: 0.8rem;
            }

            section{
                border-block-end: solid rgb(203, 203, 203);
                border-width: 0.02rem;
            }
            

            #starter {
                font-size: var(--font-m);
                padding-block-start: var(--spacing-s);
                line-height: 1.1em;   
              
        }

        }



        blockquote{

            margin-block-start: var(--spacing-s);
            margin-block-end: var(--spacing-m);
            margin-inline-start: var(--spacing-m);
           section{
             border-block-end: solid rgb(203, 203, 203);
            border-width: 0.02rem;
            
           }
            h4, p:not(.ui) {
                margin-block: 0.1rem;
                font-size: var(--font-s); 
            }
 
            .ui{
                background-color: var(--xlight-grey);
            }

            section>*, #quote{  
                padding-inline-start: 0.8rem;
            }

            #quote{
                padding-block-start: var(--spacing-s);
                color: black;
            }


          
        }

        #extrainfo{
          
            background-color: var(--mid-grey);
            color: var(--dark-grey);
        }
        
    
   

 /* citations */
        aside {
            font-size: calc(var(--font-s)*0.8);
            line-height: 1.3em; 
        }

    }

    em{
        font-weight: 700;
    }

    sup{
        font-size: calc(var(--font-s)*0.6);
        font-weight: 700;
        line-height: 0;
        color: var(--dark-grey);
        vertical-align: super;


    }
}