

:root{
    --light-grey: rgb(221, 221, 221);
    --dark-grey: rgb(108, 108, 108);
    --black: #000000;
    --spacing-s: 1rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --font-s: 1rem;
    --font-m: 1.4rem;
    --font-l: 4rem;
    font-size: 120%;
    line-height: 1.6rem;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
    background-color:var(--red);  

/* page margin for desktop */
     @media (width > 980px) {
        padding-inline: var(--spacing-s);
     }

/* main content spacing & grid */
    .content:not(#ini){
                 padding-block-end: var(--spacing-l); 

                 /* thank you google */
                 p:not(blockquote p){
                      margin-block-end: var(--spacing-m);
                 }   
             } 
    .content, hgroup{
     
                 display: grid;
                 padding-inline: 5vw;       
     
                 h1, h2, p, section{
                         grid-column: 1/ span 6;
                     }
                 blockquote, aside {
                         grid-column: 2/ span 5;
                     }
     
                 .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 8;
                     }
     
                 p, time, h1, h4{
         
                     max-width: 80ch; 
                 }

                 #starter{
                     max-width: 35ch; 
                 }


    
     
/* desktop grid*/
    @media (width > 980px) {
                     display: grid;
                     grid-template-columns: repeat(12, 1fr);
     
                     .originalarticle, section{
                         grid-column: 5/ span 6;
                     }

                     h2{
                        grid-column: 2/ span 3;
                     }

                     aside, blockquote, .examples {
                        grid-column: 6/ span 6;
                     }
     
     
                     .authornametime{
     
                         p{
                             margin-block-end: 0;
                         }
                         
                         display: block;
                         grid-column: 2/ span 8;
                     }
     
                      #ini{
                         grid-column: 3/ span 4;
                        
                     }   
                 }
                 
             }
    


/* main content spacing & grid */
  



article {
  
    padding-block-start: var(--spacing-s);
    
    /* article title style */

        
        h1 {
            border-block-end: solid var(--black);
            border-width: 1rem;
            margin-block-end: 0.4em;

            font-size: var(--font-l); 
            font-optical-sizing: auto;
            line-height: 1.1em;   
            font-variation-settings:
                "BLED"  0,
                "SCAN" 100;
        }
        
        hgroup{

            margin-block-end: var(--spacing-m);
            #authorname{   
                margin-block-end: var(--spacing-s);
              
                font-size: var(--font-m);
            }

            section{
                font-size: calc(var(--font-s)*0.8);
                line-height: 1.3em;   
                margin-block-end: 1em;
            }

        }

    /* section title style  */
        section > h2 {
              font-size: var(--font-m);
              line-height: 1.3em;
              position: sticky;
              inset-block-start: 9vh;
              margin-block-end: var(--spacing-m);
              color: var(--dark-grey);
      
          }

    /* intro quote */
        #ini{
            margin-block-end: var(--spacing-m);
            margin-block-start: var(--spacing-s);
        }

        #starter {
            padding-block-end: var(--spacing-s);
            font-size: calc(var(--font-l)*0.6);
            line-height: 1.1em;            
            font-variation-settings:
                    "BLED"  0,
                    "SCAN" 100;
        }



        blockquote{

            margin-block-end: var(--spacing-m);

            font-size: calc(var(--font-s)*0.7);
            line-height: 1.3em;   

            h4, #quote, p,time{

                padding-inline: var(--spacing-m);
            }

            h4, #quote{
                 margin-block-end: var(--spacing-s);
            }

            h4{
                font-size: var(--font-s);   
            }

            #quote{
                font-size:calc(var(--font-s)*1.2) ;
                line-height: 1.8rem; 
            }


        }

        #extrainfo{
          
            background-color: var(--black);
            color: var(--red);
        }

   

 /* citations */
        aside {
            font-size: calc(var(--font-s)*0.8);
            line-height: 1.3em; 
        }

    }

    em{
        font-weight: 700;
    }

    sup{
        font-size: calc(var(--font-s)*0.8);
        font-weight: 700;
        background-color: var(--black);
        color: var(--red);
        vertical-align: super;
        padding-inline: 0.3em;

    }
}