

h1 {
    font-variation-settings:
                "SCAN" -20;
    
}

#overlay{
    margin: auto;
    font-weight: 700;
    font-style: normal;
    font-family:  'Arial Narrow Bold', sans-serif;
    line-height:1em;
    position: absolute;
    text-align: center;
    top:1em;
    left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    justify-items: center;
    text-shadow:
            -0.1rem 0.1rem 0.4rem rgb(255, 13, 13),
            -0.1rem 0.1rem 0.4rem rgb(255, 35, 35);
    
    @media (width > 500px) {
        top:0.6em;
       }
}

h4 {
    
            border-bottom: solid var(--bg-color) 2vh;
            }

em:before{      
        content: '';
        display: inline-block;
        position: relative;
        background-color:rgb(0, 0, 0);
        width: 1.5vh; 
        height: 1.5vh;
        top: 0.3em;
            }

blockquote{
    /* reference:https://developer.mozilla.org/en-US/play?uuid=b4cb6f8c1c6705c9ff398b01cb4b4413ab1148cb&state=bY%2FLasMwEEV%2F5SJI24ATqw504RhDu%2BuiH1DIRo4nkWpZcvTAMSH%2FXmy3lIQiRoLLPeLMhcnQapazotJ235yiDVTuDFCcpgf4tBGtGOCltQEtoVdBYrDRobeu9klROaR35X28q9JA%2FzcbpfVtVYpAh6gN%2BVviLQb4oLROoFVDEMoleH%2FUGk55Wk%2FS6WxddOVDWwsvt%2FgQg8CrOZK2sUi7cmeK9GZVlrC99yxnfyku4yedqGtljjky3p23Y1LZ88pLUds%2Bn5WU8RTAsdpQi3HcsXriyDgHR4oNXyyTucmnk3Vn9FIF%2Bk3XIzTfzz%2F4DI%2F4C18stztznRy%2FRkWWsCCpJZazWriGXb8B&srcPrefix=%2Fen-US%2Fdocs%2FWeb%2FCSS%2FReference%2FProperties%2Fbox-shadow%2F */
    box-shadow:
    0.01em 0.01em 0.5em var(--accent-color),
    0.6em 0.6em 0 var(--bg-color);
}

canvas {
    height: 2vh;    
    }

#extrainfo:before, #extrainfo:after, #intro_description:before, #intro_description:after, blockquote:before, blockquote:after, .examples:before, .examples:after {      
        height: 2vh;   
            }
#intro_description:before, blockquote:before, .examples:before {
            top: calc(-2vh +  -0.3rem);
            }
#intro_description:after, blockquote:after, .examples:after {
             top: calc(2vh +  0.3rem);
            }