    
h1 {
    font-variation-settings:
                "SCAN" -20;
}

#overlay{
    margin: auto;
    font-weight: 700;
    font-style: normal;
    font-family:  'Arial Narrow Bold', sans-serif;
    line-height:1em;
    position: absolute;
    text-align: center;
    top:1em;
    left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    justify-items: center;
    
    @media (width > 500px) {
        top:0.6em;
       }
}



canvas {
    height: 2vh;    
    }

#extrainfo:before, #extrainfo:after, #intro_description:before, #intro_description:after, blockquote:before, blockquote:after, .examples:before, .examples:after {      
        height: 2vh;   
            }
#intro_description:before, blockquote:before, .examples:before {
            top: calc(-2vh +  -0.3rem);
            }
#intro_description:after, blockquote:after, .examples:after {
             top: calc(2vh +  0.3rem);
            }