
h1 {
    margin-inline: auto;
    font-style: italic;
    font-variation-settings:
                "SCAN" -53;
    font-size:  clamp(1rem, 24vw, 7rem);
    padding: 0;
    line-height: 0.8em;
    overflow-y: hidden;
}

/* arial */
#overlay1{
    margin: auto;
    font-size:  clamp(1rem, 19vw, 7rem);
    font-weight: 700;
    font-style:normal;
    font-family:  'Arial Narrow', Arial, sans-serif;
    line-height:1em;
    position: absolute;
    transform: skew(5deg);
    text-align: center;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    justify-items: center;
    
}


 @media (width > 560px) {
        #overlay1{    
            text-align: left;
            margin-inline-start: 15vw;
        }
        }

 @media (width > 1200px) {
        #overlay1{    
            text-align: left;
            margin-inline-start:20vw;
        }
        }

#overlay3{

    margin-block-end: var(--spacing-m);
}




.examples{
    ul{
        list-style: square inside;
    }
    #chineseitalic {
        display: inline-block;
        transform: skew(-7deg);
    
        font-size: 3rem;
        line-height: 1.3em;
        margin-block-end: 0;
    }
}


canvas {
    height: 1vh;    
    }

#extrainfo:before, #extrainfo:after, #intro_description:before, #intro_description:after, blockquote:before, blockquote:after, .examples:before, .examples:after {      
        height: 1vh;   
            }
#intro_description:before, blockquote:before, .examples:before {
            top: calc(-1vh +  -0.3rem);
            }
#intro_description:after, blockquote:after, .examples:after {
             top: calc(1vh +  0.3rem);
            }


 @media (width < 900px) {

            #overlay{
                top:-9rem;
                top: clamp(-12rem, -28vw, -9rem);
            }
        }
 @media (width < 500px) {


            #overlay{
                top:-9rem;
                top: clamp(-13rem, -35vw, -6.5rem);
            }
        }

