body{




    /* intro quote */

        #intro{
            margin-block-end: var(--spacing-m);
            margin-block-start: var(--spacing-s);
        }

        #starter {
            padding-block-end: var(--spacing-s);
            font-size: calc(var(--font-l)*0.6);
            line-height: 1.1em;            
            font-variation-settings:
                    "BLED"  0,
                    "SCAN" 100;
        }



        #extrainfo{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
            background-color: var(--black);
            color: var(--red);
        }

   

 /* citations */
        aside {
            font-size: calc(var(--font-s)*0.8);
            line-height: 1.3em; 
        }

    }

    em{
        font-weight: 700;
    }

    sup{
        font-size: calc(var(--font-s)*0.8);
        font-weight: 700;
        background-color: var(--black);
        color: var(--red);
        vertical-align: super;
        padding-inline: 0.3em;

    }



