nav {
            p{
            font-family: "Sixtyfour", sans-serif;
            font-size:var(--font-s);
            }

            background-color: var(--black);
            color: var(--red);

            li {
                font-family: "workbench", sans-serif;
                 font-variation-settings:
                "BLED"  0,
                "SCAN" 0;
                font-size: 1rem;
                line-height: 1rem;

            }
            
            li:hover{
                font-variation-settings:
                "BLED"  20,
                "SCAN" -50;
            }
}