
    
h1 {
    hyphens: manual;
    font-variation-settings:
                "SCAN" 10;
    text-shadow:
            -0.2rem 0.3rem 0.3rem rgba(255, 13, 13, 0.187),
            -0.2rem 0.3rem 0.3rem rgba(255, 35, 35, 0.256);
    
}
#overlay{
    filter: blur(0rem);
    padding-inline:0;
    margin: auto;
    font-weight: 700;
    font-style: normal;
    font-family:  'Arial Narrow Bold', sans-serif;
    line-height:1em;
    text-align: left;
    font-size: clamp(4rem, 20vw, 6rem);
    -webkit-text-stroke: 0.02rem var(--bg-color); 
    color: transparent;
    position: absolute;
    top:0.3em;
    left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    justify-items: center;

    @media (width > 500px) {
        font-size: clamp(3rem, 17vw, 9rem);
        top: 0em;
       }

    @media (width > 1000px) {
        font-size: clamp(6rem, 16vw, 10rem);
        top:-0.1em;
       }

     @media (width > 1220px) {
        font-size: clamp(6rem, 16vw, 12rem);
       }
}


canvas {
    height: 3vh;    
    }


.headings, h4 {
       
            border-bottom: solid var(--bg-color) 3vh;
            }

em:before{      
        content: '';
        display: inline-block;
        position: relative;
        background-color:rgb(0, 0, 0);
        width: 3vh; 
        height: 3vh;
        top: 0.6em;
            }

#extrainfo:before, #extrainfo:after, #intro_description:before, #intro_description:after, blockquote:before, blockquote:after, .examples:before, .examples:after {      
        height: 3vh;   
            }
#intro_description:before, blockquote:before, .examples:before {
            top: calc(-3vh +  -0.3rem);
            }
#intro_description:after, blockquote:after, .examples:after {
             top: calc(3vh +  0.3rem);
            }


#related{
    li{

        /* https://stackoverflow.com/questions/17158253/indent-starting-from-the-second-line-of-a-paragraph-with-css */
        list-style: square;
        margin-left: 1em;
        margin-block-end:calc(0.5* var(--spacing-s));
        }
}